<div>
    <h1>Hello Welcome </h1>
     <h3>Create An Account</h3>
       <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
         <div>
           <label for="email">Email</label>
           <input formControlName="email" name="email"  type="email"  required>
           <label for="password">Password</label>
           <input formControlName="password" name="password"  type="password">
         </div>
         <button>Submit</button>
         <span>Already have an account? 
         <a routerLink="/login">signUp</a></span>
       </form>
   </div>
 